/*CSS 관계가 모두 복잡하게 관련돼 있어서 div 부분은 view...? 해야할지도....*/
.announce-content{
    position: relative;
    width: 100%;
    height: 90vh;
    top: 13%;
}

.annonce-imgBackground{
    position: relative;
    width: 100%;
    height: 22%;
    background:url('../../img/알림마당배경.png');
    /*background-color: pink;*/
    display: flex;
    align-items: flex-end;

}
.annonce-imgBackground button{
    display: flex;
    border-radius: 10px;
    border: none;
    width: 30%;
    height: 28%;
    background: linear-gradient(180deg, rgba(251, 251, 251, 0.3403) 0%, rgba(251, 251, 251, 0.6391) 31.56%, rgba(255, 255, 255, 0.83) 56.04%);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #383838;
    line-height: 16px;
    margin-left: 4%;
    margin-bottom: 3%;
}

.content-list_Wrap{
    position: relative;
    width: 100%;
    height: auto;

}
.refresh{
    display: block;
    padding: 4%;
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
}
.content-list{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

