.join-body{
    width: 100%;
    height: 100vh;
    background-color: white;
    word-wrap: break-word;

}
.join-content{
    width: 100%;
    height: 100%;
    position: relative;
    top: 16%;
}
.join-content > form {
    height: 100%;
    width: 100%;
}
.check-doner{
    width: 100%;
    height: 19%;
    position: relative;

}

.check-doner > span {
    margin-left: 9%;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
    color: rgba(95, 94, 94, 0.71);
}
#donor:hover{
    background-color: var(--btn-color);
    color: white;
    animation:3s ease-in-out;
}
.img-btn_join{
    color: rgba(95, 94, 94, 0.71);
    display: flex;
    justify-content: space-evenly;
    width: 91%;
    height: 73%;
    align-items: center;
    margin-left: 5%;
}


.phone{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
}
.phone > span {
    width: 100%;
    height: 22%;
    box-sizing: border-box;
    position: relative;
    padding-left: 8%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: black;
}
.phone-form {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 50%;
    position: relative;
    top: 7%;
    left: 3%;
}
.phone-form_text {
    width: 58%;
    height: 98%;
    background: rgba(245, 245, 245, 0.52);
    border: 1px solid #A3A2A2;
    border-radius: 5px;
    color: #ABABAB;
    box-sizing: border-box;
    padding-left: 15%;
    font-size: 11pt;
}
.phone-form_text + input {
    background: #003C7C;
    border: 1px solid #ABABAB;
    border-radius: 5px;
    color: rgb(236, 236, 236);
    width: 28%;
    height: 98%;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 300;
}
.phone-form + span{
    position: relative;
    top: 14%;
    color: gray;
}
.basic-btn_join-next{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: end;
    right: 6%;
    position: relative;
    margin-top: 7%;   
}


.basic-btn_join-next > input{
    color: white;
    width: 36%;
    height: 51%;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0.7) 105.18%), #284784;

}
.basic-btn_join{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: end;
    right: 6%;
    position: relative;
    margin-top: 4%;   
}

.basic-btn_join > input{
    color: white;
    width: 89%;
    height: 53%;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0.7) 105.18%), #284784;

}

