.nearby-body{
    width: 100%;
    height: 100vh;
    word-wrap: break-word;
}
.nearby-content{
    position: relative;
    width: 100%;
    height: 88vh;
    top: 13%;
}
.nearby-imgBackground{
    position: relative;
    width: 100%;
    height: 22%;
    display: flex;
    align-items: flex-end;
}
.nearby-imgBackground img{
    left: 7%;
    position: relative;
    top: 4%;
}
.nearby-imgBackground button{
    background: linear-gradient(180deg, rgba(45, 76, 137, 0.86) 1.04%, #2D4C89 13.54%, #1B3974 78.65%);
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    border-color: rgba(13, 27, 43, 0.35);
    box-shadow: 2px 3px 3px rgba(117, 147, 106, 0.2);
    border-radius: 5px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    position: absolute;
    width: 23%;
    color: white;
    height: 23%;
    right: 21px;
    bottom: 11px;
}

.content-list_Wrap_api{
    background: white;
    height: 75%;
}
.content-list_api{
    align-items: center;
}
.list-box_img_api{
    margin-top: 3%;
    background: #FFFFFF;
    border: 1px solid rgba(199, 199, 199, 0.8);
    box-shadow: 1px 1px 4px rgba(189, 189, 189, 0.25);
    border-radius: 10px;
    width: 93%;
    height: 117px;
    word-break: break-all;
}

.content-list_text_api h3{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 2%;
    color: rgba(35, 35, 35, 0.94);
}
.content-list_text_api span:nth-of-type(1){
    font-size: 16px;
    margin-bottom: 16%;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: rgba(35, 35, 35, 0.56);
}
.content-list_text_api span:nth-of-type(2){
    font-size: 15px;
    color: rgba(35, 35, 35, 0.85);
}

.content-list_img_api{
    width: 41%;
}
.content-list_img_api img{
    width: 78%;
    height: 75%;
}

.nearby_address{
    position: relative;
    width: 345px;
    height: 74px;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #FFFFFF;
    background: #FEFEFE;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.02), 0px 4px 50px rgba(0, 1, 1, 0.07);
    border-radius: 24px;
}