.basic-btn > input {
    color: rgba(0, 0, 0, 0.63);
    border: none;
    width: 147px;
    height: 60px;
    box-shadow: 1px 2px 2px 1px rgba(182, 182, 182, 0.179);
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 7px 0px;
}


@media (min-width: 720px) {
    .basic-btn> input {
        font-size: 25px;
        margin: 10px 0px;
    }
    .login-content_submit > input{
        font-size: 19pt;
        letter-spacing: 5px;
    }
    
}