.category_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 99%;
    margin-left: 5px;
}
.category_btn > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.category_btn > a > img{
    width: 44%;
    height: 60%;
    
}
.content-category >div > .category_btn > a > img{
    animation: inOut 4s ease-in-out infinite;
}

.category_btn > a > span{
    font-family: 'Noto Sans KR';
    margin-top: 8px;
    font-size: 11pt;
    font-weight: 700;
}

.category_btn-sm > span{
    font-size: 10pt;
    margin-top: 3px;
}

@keyframes inOut {
    0%{
        transform: rotateY(0);
    }
    50%{
        transform: rotateY(0) translateY(4px);
    }
    100%{
        transform: rotateY(0);
    }
    
}

@media (min-width: 720px){
    .category_btn > a > span{
        margin-top: 10px;
        font-size: 18pt;
        font-weight: 700;
    }
    @keyframes inOut {
        0%{
            transform: rotateY(0);
        }
        50%{
            transform: rotateY(0) translateY(5px);
        }
        100%{
            transform: rotateY(0);
        }
        
    }
    
}

@media (min-width: 850px){
    .category_btn-sm > span {
        font-size: 20pt;
        margin-top: 4px;
    }
}

