.input-text{
    width: 100%;
    height: 12%;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.input-text > span{
    width: 100%;
    height: 22%;
    box-sizing: border-box;
    position: relative;
    padding-left: 8%;
    padding-top: 1%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: black;
}
span > small{
    color: red;
}

.input-text > input{
    width: 86%;
    height: 57%;
    box-sizing: border-box;
    position: relative;
    padding-left: 1%;
    padding-top: 3%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color:  #b7b7b7;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 1px solid #b7b7b7;
}