.screen-header{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    background-color: var(--main-color);
    border-radius: 15px;
}

.screen-header_btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 21%;
    height: auto;

}
.screen-header_btn > a > img{
    width: 28px;   
    height: 28px;
}
.screen_header-title{
    margin-right:15%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-header> span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    margin-right: 2%;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;   
    color: var(--btn-color);
}

@media (min-width: 720px) {
    .screen-header{
        height: 130px;
    }
    .screen-header_btn > a > img{
        width: 50px;   
        height: 50px;
    }
    .screen-header> span{
        font-size: 29px;
    }
} 