.trans_img-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 99%;
    margin-left: 5px;
}
.trans_img-btn > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.trans_img-btn > a > img{
    width: 50%;
    height: 58%;
    
}

.trans_img-btn > a > span{
    font-family: 'Noto Sans KR';
    margin-top: 9px;
    font-size: 12pt;
    font-weight: 700;
}

.trans_img-btn-sm > span{
    font-size: 10pt;
    margin-top: 3px;
}

@keyframes inOut {
    0%{
        transform: rotateY(0);
    }
    50%{
        transform: rotateY(0) translateY(2px);
    }
    100%{
        transform: rotateY(0);
    }
    
}

@media (min-width: 720px){
    .trans_img-btn > a > span{
        margin-top: 10px;
        font-size: 18pt;
        font-weight: 700;
    }
    @keyframes inOut {
        0%{
            transform: rotateY(0);
        }
        50%{
            transform: rotateY(0) translateY(2px);
        }
        100%{
            transform: rotateY(0);
        }
        
    }
    
}

@media (min-width: 850px){
    .trans_img-btn-sm > span {
        font-size: 20pt;
        margin-top: 4px;
    }
}

